@import url("https://fonts.googleapis.com/css?family=Crete+Round");

#quote{
  text-align: center;
  
}
body {
  
  font-family: "Crete Round", serif;
  background-color: #a0c4ff;
}

#quote-box {
  background-color: #f7edf6;
  border-radius: 5px;
  padding:15px;
  position: relative;
display: inline-block;
  width: 500px;
  font-size: 50px;
  text-align: center;
}
#text {
  font-size: 0.5em;
}
#author {
  padding-top: 20px;
  font-size: 0.3em;
  text-align: right;
}

#new-quote {
  float:right;
  margin:10px;
}

#tweet-quote {
  float:left;
}
#quote-box > * {
  display: block;
}

.fa {
  font-size: 35px;
}

